@font-face {
    font-family: 'DrukTextWideCyr-Medium';
    src: url('../../fonts/druk/druktextwidecyr-medium.eot');
    src: url('../../fonts/druk/druktextwidecyr-medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/druk/druktextwidecyr-medium.woff2') format('woff2'),
        url('../../fonts/druk/druktextwidecyr-medium.woff') format('woff'),
        url('../../fonts/druk/druktextwidecyr-medium.ttf') format('truetype'),
        url('../../fonts/druk/druktextwidecyr-medium.svg#druktextwidecyr-medium') format('svg');
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../../fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
        url('../../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    color: #fff;
    font-family: sans-serif;
    font-family: 'Gilroy';
    transition: .2s;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1B1D26;
}

a,
button,
img,
input,
select,
textarea {
    display: block;
}

textarea {
    resize: none;
}

select {
    appearance: none;
}

button,
input,
select {
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


a:not(.footer__social_link) {
    transition: .2s;

    &:hover {
        transition: .2s;
        background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 52.5%, #FBE78E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.next,
.prev {
    @media (max-width: 576px) {
        width: 30px;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}