.resident {
    background: #1B1D26;
    width: 100%;

    &__wrapper {
        width: 100%;
        max-width: 1280px;
        padding: 65px 50px 90px;
        margin: 0 auto;

        @media (max-width: 991px) {
            padding: 65px 0px 60px;
        }
    }

    &__title {
        font-size: 38px;
        line-height: 48.18px;
        letter-spacing: 7%;
        text-align: center;
        font-family: 'DrukTextWideCyr-Medium';
        margin-bottom: 45px;

        @media (max-width: 991px) {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 40px;   
        }

        @media (max-width: 576px) {
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 22.5px;   
        }
    }

    &__slider {
        position: relative;
        padding: 0 60px;

        @media (max-width: 991px) {
            padding: 0 30px;   
        }

        @media (max-width: 576px) {
            padding: 0 20px;
        }
        &_btn {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 1010;

            &.next {
                right: 0;

                @media (max-width: 991px) {
                    right: 15px;
                }

                @media (max-width: 576px) {
                    right: 5px;
                }
            }

            &.prev {
                left: 0;

                @media (max-width: 991px) {
                    left: 15px;
                }

                @media (max-width: 576px) {
                    left: 5px;
                }
            }
        }

        &_pagination {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            .swiper-pagination-bullet {
                background: #fff;
                opacity: 1;

                @media (max-width: 576px) {
                    width: 6px;
                    height: 6px;
                }

                &-active {
                    background: #FBE78E;
                }
            }
        }
    }

    .swiper-slide {
        height: 100%;
    }

    &__item {
        background: url('../../images/resident.png') no-repeat center;
        background-size: 100% 100%;
        padding: 40px 20px;
        min-height: 615px;

        @media (max-width: 991px) {
            min-height: 530px;   
        }

        @media (max-width: 576px) {
            min-height: 480px;   
        }
        &_img {
            margin: 0 auto 36px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;

            @media (max-width: 991px) {
                margin-bottom: 23px;
                width: 90px;
                height: 90px;
            }
        }

        &_name {
            font-size: 20px;
            line-height: 25.36px;
            letter-spacing: 7%;
            text-align: center;
            background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'DrukTextWideCyr-Medium';
            margin-bottom: 15px;

            @media (max-width: 991px) {
                font-size: 20px;
                line-height: 25.5px;
                max-width: 70%; 
                margin: 0 auto 15px; 
            }

            @media (max-width: 576px) {
                font-size: 12px;
                line-height: 15.5px;
                margin-bottom: 10px;
            }
        }

        &_pr {
            line-height: 18.83px;
            letter-spacing: 7%;
            text-align: center;

            @media (max-width: 991px) {
                font-size: 14px;
                line-height: 16.5px;
            }
            &:not(:last-child) {
                margin-bottom: 20px;

                @media (max-width: 576px) {
                    margin-bottom: 13px;
                }
            }
        }
    }
}