@font-face {
  font-family: "DrukTextWideCyr-Medium";
  src: url("../../fonts/druk/druktextwidecyr-medium.eot");
  src: url("../../fonts/druk/druktextwidecyr-medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/druk/druktextwidecyr-medium.woff2") format("woff2"), url("../../fonts/druk/druktextwidecyr-medium.woff") format("woff"), url("../../fonts/druk/druktextwidecyr-medium.ttf") format("truetype"), url("../../fonts/druk/druktextwidecyr-medium.svg#druktextwidecyr-medium") format("svg");
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  color: #fff;
  font-family: sans-serif;
  font-family: "Gilroy";
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1B1D26;
}

a,
button,
img,
input,
select,
textarea {
  display: block;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
input,
select {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.footer {
  background: #0B0C10;
  width: 100%;
}
.footer__wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 75px 50px 0;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .footer__wrapper {
    padding: 60px 20px 0;
  }
}
.footer__container {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .footer__container {
    width: 100%;
  }
}
.footer__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  font-family: "DrukTextWideCyr-Medium";
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .footer__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .footer__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
  }
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
@media (max-width: 768px) {
  .footer__social {
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer__social {
    gap: 15px;
  }
}
.footer__social_link {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 4px 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
}
@media (max-width: 480px) {
  .footer__social_link {
    padding: 15px 10px;
  }
}
.footer__social_link_icon {
  width: 26px;
}
@media (max-width: 480px) {
  .footer__social_link_icon {
    width: 16px;
  }
}
.footer__social_link_txt {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  font-family: "DrukTextWideCyr-Medium";
  color: #000;
}
@media (max-width: 480px) {
  .footer__social_link_txt {
    font-size: 10px;
    line-height: 12px;
  }
}
.footer__or {
  margin: 30px 0;
  font-size: 16px;
  line-height: 18.83px;
  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer__or {
    margin: 50px 0 20px;
  }
}
@media (max-width: 480px) {
  .footer__or {
    font-size: 12px;
    line-height: 14px;
    margin-top: 40px;
  }
}
.footer__qr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
@media (max-width: 768px) {
  .footer__qr {
    grid-gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer__qr {
    gap: 15px;
  }
}
.footer__qr img {
  width: 100%;
}
.footer__contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 40px 0;
}
@media (max-width: 768px) {
  .footer__contact {
    grid-gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer__contact {
    grid-template-columns: 1fr;
    max-width: 220px;
    margin: 40px auto;
  }
}
.footer__contact_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(270deg, #0B0C10 0%, #3C4155 50%, #0B0C10 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 14px 50px;
  width: 100%;
  color: #FBE78E;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  font-family: "DrukTextWideCyr-Medium";
  height: 100%;
}
@media (max-width: 768px) {
  .footer__contact_link {
    font-size: 12px;
    line-height: 15.5px;
    padding: 14px 35px;
  }
}
@media (max-width: 480px) {
  .footer__contact_link {
    font-size: 10px;
    line-height: 12px;
    padding: 8px;
    height: 45px;
  }
}
.footer__menu {
  border-top: 1px solid rgba(217, 217, 217, 0.1254901961);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
@media (max-width: 480px) {
  .footer__menu {
    flex-wrap: wrap;
  }
}
.footer__menu_link {
  font-size: 12px;
  line-height: 14.12px;
  letter-spacing: 7%;
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1090;
}
.navbar__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 50px;
}
@media (max-width: 768px) {
  .navbar__wrapper {
    padding: 35px 10px;
  }
}
@media (max-width: 480px) {
  .navbar__wrapper {
    padding: 25px 10px;
  }
}
.navbar__menu_btn {
  display: none;
}
@media (max-width: 768px) {
  .navbar__menu_btn {
    display: block;
    margin-left: auto;
  }
}
.navbar__menu_closeBtn {
  display: none;
}
@media (max-width: 768px) {
  .navbar__menu_closeBtn {
    display: block;
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 1091;
  }
}
@media (max-width: 768px) {
  .navbar__menu_wrapper {
    width: 100%;
    max-width: 240px;
    position: absolute;
    top: 0;
    right: -240px;
    transition: 0.3s;
  }
  .navbar__menu_wrapper.active {
    right: 0;
    transition: 0.3s;
  }
}
.navbar__menu_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .navbar__menu_list {
    background: #101116;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0 0 0 15px;
    padding: 110px 20px;
    z-index: 1090;
  }
}
.navbar__menu_list_link {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 7%;
}
@media (max-width: 768px) {
  .navbar__menu_list_link {
    max-width: 120px;
    text-align: right;
  }
}

.product {
  background: #0B0C10;
}
.product.mobile {
  display: none;
}
@media (max-width: 480px) {
  .product {
    display: none;
  }
  .product.mobile {
    display: block;
  }
}
.product__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 50px 90px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
@media (max-width: 768px) {
  .product__wrapper {
    grid-template-columns: 1fr;
    padding: 60px 10px;
  }
}
.product__title {
  grid-column: 1/3;
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  margin-bottom: 30px;
  font-family: "DrukTextWideCyr-Medium";
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .product__title {
    grid-column: 1/2;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .product__title {
    font-size: 22px;
    line-height: 28px;
  }
}
.product__btns {
  display: grid;
  grid-gap: 20px;
}
@media (max-width: 768px) {
  .product__btns {
    display: flex;
  }
}
@media (max-width: 480px) {
  .product__btns {
    max-width: 300px;
  }
}
.product__btns_btn {
  padding: 25px 20px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .product__btns_btn {
    padding: 20px 10px;
    width: 140px;
  }
}
@media (max-width: 480px) {
  .product__btns_btn {
    background: url("../../images/borderProductMobile2.png") no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
  }
  .product__btns_btn * {
    display: block;
    text-align: center !important;
  }
}
.product__btns_btn.active, .product__btns_btn:hover {
  background: url("../../images/borderProduct.svg") no-repeat center;
  background-size: contain;
}
@media (max-width: 768px) {
  .product__btns_btn.active, .product__btns_btn:hover {
    background: url("../../images/borderProductMobile.svg") no-repeat center;
    background-size: contain;
  }
}
@media (max-width: 480px) {
  .product__btns_btn.active, .product__btns_btn:hover {
    background: none;
  }
}
.product__btns_btn_number {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 17.75px;
  letter-spacing: 7%;
  font-family: "DrukTextWideCyr-Medium";
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .product__btns_btn_number {
    margin-bottom: 4px;
    font-size: 8px;
    line-height: 10px;
  }
}
.product__btns_btn_more {
  display: block;
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  color: #FBE78E;
  font-family: "DrukTextWideCyr-Medium";
  text-align: left;
}
@media (max-width: 768px) {
  .product__btns_btn_more {
    display: none;
  }
}
.product__btns_btn_name {
  display: block;
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  color: #FBE78E;
  font-family: "DrukTextWideCyr-Medium";
  text-align: left;
}
@media (max-width: 768px) {
  .product__btns_btn_name {
    font-size: 11px;
    line-height: 14px;
  }
}
.product__btns_btn:last-child .product__btns_btn_name {
  font-size: 14px;
  line-height: 17.75px;
}
@media (max-width: 768px) {
  .product__btns_btn:last-child .product__btns_btn_name {
    font-size: 11px;
    line-height: 14px;
  }
}
.product__btns_btn:last-of-type .product__btns_btn_more {
  font-size: 14px;
  line-height: 17.75px;
}
.product .container {
  width: 100%;
}
.product .productBtns {
  max-width: 100%;
}
.product__slider_btn {
  position: absolute;
  top: 50%;
  z-index: 1010;
}
.product__slider_btn.next {
  right: 0;
}
.product__slider_btn.prev {
  left: 0;
}
.product__slider_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__slider_pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.product__slider_pagination .swiper-pagination-bullet-active {
  background: #FBE78E;
}
.product .productContent {
  padding-bottom: 20px;
}
@media (max-width: 480px) {
  .product__tabs {
    max-width: 300px;
  }
}
.product__tabs_el {
  display: none;
  height: 100%;
  padding: 35px 60px;
  background: url("../../images/product.png") no-repeat center;
  background-size: 100% 100%;
}
@media (max-width: 768px) {
  .product__tabs_el {
    padding: 40px 20px;
    height: 400px;
  }
  .product__tabs_el * {
    font-size: 14px !important;
    line-height: 18px !important;
  }
}
@media (max-width: 480px) {
  .product__tabs_el {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    background: url("../../images/productMobile.png") no-repeat center;
    background-size: 100% 100%;
    padding: 30px 40px;
    min-height: 400px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .product__tabs_el * {
    font-size: 12px !important;
    line-height: 14px !important;
  }
}
.product__tabs_el.active {
  display: block;
}
.product__tabs_el_pr {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 7%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .product__tabs_el_pr {
    margin-bottom: 15px;
  }
}
.product__tabs_el_list {
  list-style-type: disc;
  margin-bottom: 20px;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .product__tabs_el_list {
    margin-bottom: 15px;
  }
}
.product__tabs_el_list li {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 7%;
}
.product__tabs_el_btn {
  font-size: 12px !important;
  line-height: 18px !important;
  width: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 14px 50px;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  color: #000;
  text-transform: uppercase;
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  font-family: "DrukTextWideCyr-Medium";
  margin-top: 40px;
}
@media (max-width: 768px) {
  .product__tabs_el_btn {
    margin-top: 20px;
    line-height: 16px;
    padding: 9px 25px;
    max-width: 260px;
  }
}
@media (max-width: 480px) {
  .product__tabs_el_btn {
    font-size: 9px !important;
    line-height: 12px !important;
  }
}
.product__tabs_el_gridList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px 20px;
  margin-bottom: 20px;
}
.product__tabs_el_gridList li {
  display: flex;
  gap: 6px;
  align-items: center;
}
.product__tabs_el_gridList_icon {
  width: 14px;
}
.product__tabs_el_gridList_txt {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 7%;
}

.resident {
  background: #1B1D26;
  width: 100%;
}
.resident__wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 65px 50px 90px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .resident__wrapper {
    padding: 65px 0px 60px;
  }
}
.resident__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  font-family: "DrukTextWideCyr-Medium";
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .resident__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .resident__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22.5px;
  }
}
.resident__slider {
  position: relative;
  padding: 0 60px;
}
@media (max-width: 768px) {
  .resident__slider {
    padding: 0 30px;
  }
}
@media (max-width: 480px) {
  .resident__slider {
    padding: 0 20px;
  }
}
.resident__slider_btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1010;
}
.resident__slider_btn.next {
  right: 0;
}
@media (max-width: 768px) {
  .resident__slider_btn.next {
    right: 15px;
  }
}
@media (max-width: 480px) {
  .resident__slider_btn.next {
    right: 5px;
  }
}
.resident__slider_btn.prev {
  left: 0;
}
@media (max-width: 768px) {
  .resident__slider_btn.prev {
    left: 15px;
  }
}
@media (max-width: 480px) {
  .resident__slider_btn.prev {
    left: 5px;
  }
}
.resident__slider_pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resident__slider_pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
@media (max-width: 480px) {
  .resident__slider_pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.resident__slider_pagination .swiper-pagination-bullet-active {
  background: #FBE78E;
}
.resident .swiper-slide {
  height: 100%;
}
.resident__item {
  background: url("../../images/resident.png") no-repeat center;
  background-size: 100% 100%;
  padding: 40px 20px;
  height: 615px;
}
@media (max-width: 768px) {
  .resident__item {
    height: 530px;
  }
}
@media (max-width: 480px) {
  .resident__item {
    height: 480px;
  }
}
.resident__item_img {
  margin: 0 auto 36px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .resident__item_img {
    margin-bottom: 23px;
    width: 90px;
    height: 90px;
  }
}
.resident__item_name {
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DrukTextWideCyr-Medium";
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .resident__item_name {
    font-size: 20px;
    line-height: 25.5px;
  }
}
@media (max-width: 480px) {
  .resident__item_name {
    font-size: 12px;
    line-height: 15.5px;
    margin-bottom: 10px;
  }
}
.resident__item_pr {
  line-height: 18.83px;
  letter-spacing: 7%;
  text-align: center;
}
@media (max-width: 768px) {
  .resident__item_pr {
    font-size: 14px;
    line-height: 16.5px;
  }
}
.resident__item_pr:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .resident__item_pr:not(:last-child) {
    margin-bottom: 13px;
  }
}

.result {
  position: relative;
}
.result__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  width: 100%;
  height: 100%;
}
.result__wrapper {
  position: relative;
  z-index: 1020;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 50px 70px;
}
@media (max-width: 768px) {
  .result__wrapper {
    padding: 75px 30px 60px;
  }
}
@media (max-width: 480px) {
  .result__wrapper {
    padding: 60px 10px;
  }
}
.result__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  color: #050505;
  font-family: "DrukTextWideCyr-Medium";
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .result__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 35.5px;
  }
}
@media (max-width: 480px) {
  .result__title {
    font-size: 22px;
    line-height: 28px;
  }
}
.result__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
@media (max-width: 768px) {
  .result__container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media (max-width: 480px) {
  .result__container {
    display: flex;
    gap: 0;
  }
}
.result__slider {
  position: relative;
}
.result__slider_btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1010;
  display: none;
}
@media (max-width: 480px) {
  .result__slider_btn {
    display: block;
  }
}
.result__slider_btn.next {
  right: 0px;
}
.result__slider_btn.prev {
  left: 0px;
}
.result__slider_pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 480px) {
  .result__slider_pagination {
    display: block;
  }
}
@media (max-width: 480px) {
  .result__slider_pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.result__slider_pagination .swiper-pagination-bullet-active {
  background: #000;
}
@media (max-width: 480px) {
  .result .resultSlider {
    position: relative;
    padding: 0 10px;
  }
}
.result__item {
  background: url("../../images/result.png") no-repeat center;
  background-size: contain;
  height: 390px;
  padding: 40px 35px;
}
@media (max-width: 768px) {
  .result__item {
    padding: 40px 30px;
    height: 310px;
    background: url("../../images/resultTablet.png") no-repeat center;
  }
}
@media (max-width: 480px) {
  .result__item {
    padding: 50px 10px;
    background: url("../../images/resultMobile.png") no-repeat center;
    background-size: contain;
    height: 380px;
  }
}
.result__item_header {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 480px) {
  .result__item_header {
    gap: 10px;
  }
}
.result__item_header_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .result__item_header_img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 480px) {
  .result__item_header_img {
    width: 50px;
    height: 50px;
  }
}
.result__item_header_name {
  margin-bottom: 9px;
  display: block;
  line-height: 20.29px;
  letter-spacing: 7%;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  font-family: "DrukTextWideCyr-Medium";
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .result__item_header_name {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .result__item_header_name {
    font-size: 12px;
    line-height: 15px;
  }
}
.result__item_header_city {
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 7%;
}
@media (max-width: 480px) {
  .result__item_header_city {
    font-size: 14px;
  }
}
.result__item_desc {
  height: calc(100% - 150px);
  padding-top: 20px;
}
.result__item_desc_list {
  font-size: 16px;
  line-height: 18.83px;
  letter-spacing: 7%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  list-style-type: disc;
  gap: 15px;
}
@media (max-width: 480px) {
  .result__item_desc_list {
    font-size: 14px;
    line-height: 16px;
    gap: 0;
    max-width: 220px;
    margin: 0 auto;
  }
}

.tarif {
  width: 100%;
}
.tarif__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 50px 95px;
}
@media (max-width: 768px) {
  .tarif__wrapper {
    padding: 60px 10px;
  }
}
@media (max-width: 480px) {
  .tarif__wrapper {
    padding: 60px 5px;
  }
}
.tarif__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  font-family: "DrukTextWideCyr-Medium";
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .tarif__title {
    max-width: 400px;
    margin: 0 auto 40px;
    font-size: 28px;
    line-height: 35px;
  }
}
.tarif__slider {
  position: relative;
}
.tarif__slider_btn {
  position: absolute;
  top: 300px;
  z-index: 1010;
  display: none;
}
@media (max-width: 480px) {
  .tarif__slider_btn {
    display: block;
  }
}
.tarif__slider_btn.next {
  right: 0px;
}
.tarif__slider_btn.prev {
  left: 0px;
}
.tarif__slider_pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 480px) {
  .tarif__slider_pagination {
    display: flex;
  }
}
.tarif__slider_pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
@media (max-width: 480px) {
  .tarif__slider_pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.tarif__slider_pagination .swiper-pagination-bullet-active {
  background: #FBE78E;
}
@media (max-width: 480px) {
  .tarif .tarifSlider {
    position: relative;
    padding: 0 15px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.tarif__elems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  height: 1200px;
}
@media (max-width: 768px) {
  .tarif__elems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
    height: auto;
  }
}
@media (max-width: 480px) {
  .tarif__elems {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.tarif__elems_item {
  background: url("../../images/tarifBg.png") no-repeat center;
  background-size: 100% 100%;
  height: 100%;
  padding: 30px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .tarif__elems_item {
    max-width: 300px;
    height: auto;
  }
}
@media (max-width: 480px) {
  .tarif__elems_item {
    width: 100%;
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.tarif__elems_item_icon {
  margin: 0 auto 16px;
  width: 46px;
}
.tarif__elems_item_title {
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DrukTextWideCyr-Medium";
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .tarif__elems_item_title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
}
.tarif__elems_item_list {
  display: grid;
  grid-gap: 10px;
  padding-left: 20px;
  list-style-type: disc;
}
.tarif__elems_item_list li {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 7%;
}
@media (max-width: 768px) {
  .tarif__elems_item_list li {
    font-size: 14px;
    line-height: 16.5px;
  }
}
.tarif__elems_item_priceName {
  font-size: 16px;
  line-height: 18.83px;
  letter-spacing: 7%;
  text-align: center;
}
@media (max-width: 768px) {
  .tarif__elems_item_priceName {
    margin-top: 90px;
  }
}
.tarif__elems_item_price {
  margin: 20px 0 40px;
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  font-family: "DrukTextWideCyr-Medium";
  -webkit-text-fill-color: transparent;
}
.tarif__elems_item_btn {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 4px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 260px;
  font-family: "DrukTextWideCyr-Medium";
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
}

#adaptive {
  min-width: 1920px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (max-width: 1456px) {
  #adaptive {
    min-width: 1280px;
    max-width: 1280px;
  }
}
@media (max-width: 768px) {
  #adaptive {
    min-width: 640px;
    max-width: 640px;
  }
}
@media (max-width: 480px) {
  #adaptive {
    max-width: 320px;
    min-width: 320px;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    align-items: flex-start;
  }
}
.header__img {
  width: 100%;
}
.header__wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding-top: 40px;
  }
}
@media (max-width: 480px) {
  .header__wrapper {
    padding-top: 15px;
  }
}
.header__logo {
  margin-bottom: 30px;
  max-width: 382px;
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 278px;
    margin-bottom: 88px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    max-width: 163px;
    margin-bottom: 64px;
    margin-right: auto;
    margin-left: 10px;
  }
}
.header__logo_img {
  width: 100%;
}
.header__title strong {
  display: block;
  font-weight: 500;
  text-align: center;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 52.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 7%;
  font-family: "DrukTextWideCyr-Medium";
}
.header__title strong:first-child {
  font-size: 50px;
  line-height: 63.4px;
}
@media (max-width: 768px) {
  .header__title strong:first-child {
    font-size: 30px;
    line-height: 38.04px;
    margin-bottom: 18px;
  }
}
@media (max-width: 480px) {
  .header__title strong:first-child {
    font-size: 16px;
    line-height: 20.29px;
    margin-bottom: 11px;
  }
}
.header__title strong:last-child {
  font-size: 115px;
  line-height: 145.82px;
}
@media (max-width: 768px) {
  .header__title strong:last-child {
    font-size: 62px;
    line-height: 78.62px;
  }
}
@media (max-width: 480px) {
  .header__title strong:last-child {
    font-size: 30px;
    line-height: 38.04px;
  }
}
.header__btns {
  display: flex;
  gap: 20px;
  margin-top: 200px;
}
@media (max-width: 768px) {
  .header__btns {
    margin-top: 187px;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .header__btns {
    margin-top: 130px;
  }
}
.header__btns_btn {
  width: 100%;
  min-width: 280px;
  max-width: 280px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 46px;
  color: #000;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  text-align: center;
  border-radius: 30px;
  white-space: nowrap;
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  font-family: "DrukTextWideCyr-Medium";
}
@media (max-width: 480px) {
  .header__btns_btn {
    min-width: 130px;
    max-width: 130px;
    padding: 10px;
    font-size: 8px;
    line-height: 10.14px;
    white-space: wrap;
  }
}

.about {
  margin-top: -30px;
  position: relative;
  z-index: 1080;
}
@media (max-width: 480px) {
  .about {
    margin-top: -107px;
  }
}
.about__img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1010;
}
@media (max-width: 768px) {
  .about__img {
    width: 900px;
    left: -132px;
  }
}
@media (max-width: 768px) {
  .about__img {
    width: 700px;
    left: -16px;
  }
}
@media (max-width: 480px) {
  .about__img {
    width: auto;
    left: 0;
  }
}
.about__wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 75px 50px;
  margin: 0 auto;
  position: relative;
  z-index: 1020;
}
@media (max-width: 768px) {
  .about__wrapper {
    padding: 70px 35px 60px;
  }
}
@media (max-width: 480px) {
  .about__wrapper {
    padding: 60px 15px;
  }
}
.about__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;
  max-width: 1080px;
  margin: 0 auto 20px;
  font-family: "DrukTextWideCyr-Medium";
}
@media (max-width: 768px) {
  .about__title {
    font-size: 28px;
    line-height: 35.5px;
  }
}
@media (max-width: 480px) {
  .about__title {
    font-size: 14px;
    line-height: 19px;
  }
}
.about__title strong {
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  font-family: "DrukTextWideCyr-Medium";
  text-align: center;
}
@media (max-width: 768px) {
  .about__title strong {
    font-size: 28px;
    line-height: 35.5px;
  }
}
@media (max-width: 480px) {
  .about__title strong {
    display: block;
  }
}
.about__str {
  padding: 3px 20px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  margin: 0 auto 18px;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 7%;
  text-align: center;
}
@media (max-width: 768px) {
  .about__str {
    font-size: 16px;
    line-height: 18.83px;
    max-width: 500px;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .about__str {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 9px;
  }
}
.about__strong {
  padding: 3px 20px;
  border-radius: 5px;
  border: 2px solid;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  color: #000;
  margin: 0 auto 62px;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 7%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .about__strong {
    font-size: 16px;
    line-height: 18.83px;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .about__strong {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 30px;
  }
}
.about__items {
  max-width: 880px;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 90px;
}
@media (max-width: 768px) {
  .about__items {
    grid-gap: 30px 35px;
    margin-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .about__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__items_el_icon {
  display: block;
  margin: 0 auto 15px;
  height: 45px;
}
@media (max-width: 768px) {
  .about__items_el_icon {
    height: 38px;
  }
}
.about__items_el_title {
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 7%;
  text-align: center;
}
@media (max-width: 768px) {
  .about__items_el_title {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 480px) {
  .about__items_el_title {
    font-size: 14px;
    line-height: 16.5px;
  }
}
.about__second {
  font-size: 38px;
  line-height: 34px;
  letter-spacing: 7%;
  text-align: center;
  font-family: "DrukTextWideCyr-Medium";
  margin-bottom: 46px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .about__second {
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .about__second {
    font-size: 22px;
    line-height: 28px;
  }
}
.about__elems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
}
@media (max-width: 768px) {
  .about__elems {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 340px;
  }
}
.about__elems_item {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .about__elems_item {
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .about__elems_item {
    gap: 10px;
  }
}
.about__elems_item_title {
  font-size: 50px;
  line-height: 63.4px;
  letter-spacing: 7%;
  color: #FBE88A;
  font-family: "DrukTextWideCyr-Medium";
}
@media (max-width: 768px) {
  .about__elems_item_title {
    font-size: 40px;
    line-height: 50px;
  }
}
.about__elems_item_icon {
  width: 46px;
}
@media (max-width: 768px) {
  .about__elems_item_icon {
    width: 38px;
  }
}
.about__elems_item_pr {
  font-size: 21px;
  line-height: 24.72px;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  .about__elems_item_pr {
    font-size: 16px;
    line-height: 18px;
  }
  .about__elems_item_pr br {
    display: none;
  }
}
@media (max-width: 480px) {
  .about__elems_item_pr {
    font-size: 14px;
    line-height: 16.5px;
  }
}
.about__elems_item_pr strong {
  font-weight: 700;
  font-size: 21px;
  line-height: 25.39px;
  letter-spacing: 0%;
  color: #FBE88A;
}
@media (max-width: 768px) {
  .about__elems_item_pr strong {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 480px) {
  .about__elems_item_pr strong {
    font-size: 14px;
    line-height: 16.5px;
  }
}
.about__secondPr {
  font-size: 21px;
  line-height: 24.72px;
  letter-spacing: 7%;
  text-align: center;
  margin: 40px 0;
}
@media (max-width: 768px) {
  .about__secondPr {
    margin: 20px auto;
    max-width: 380px;
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 480px) {
  .about__secondPr {
    font-size: 14px;
    line-height: 16.5px;
  }
}
.about__btn {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  padding: 4px 50px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  color: #000;
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  font-family: "DrukTextWideCyr-Medium";
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .about__btn {
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 15px;
    white-space: nowrap;
    font-size: 10px;
    line-height: 12px;
  }
}

.info {
  width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .info {
    background: #101116;
  }
}
@media (max-width: 480px) {
  .info {
    background: none;
  }
}
.info__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
}
@media (max-width: 768px) {
  .info__img {
    display: none;
  }
}
.info__img.mobile {
  display: none;
}
@media (max-width: 480px) {
  .info__img.mobile {
    display: block;
  }
}
.info__wrapper {
  position: relative;
  z-index: 1020;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 50px 90px;
}
@media (max-width: 768px) {
  .info__wrapper {
    padding: 60px 20px;
  }
}
.info__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;
  font-family: "DrukTextWideCyr-Medium";
}
@media (max-width: 768px) {
  .info__title {
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .info__title {
    font-size: 18px;
    line-height: 22px;
  }
}
.info__title strong {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  font-family: "DrukTextWideCyr-Medium";
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .info__title strong {
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .info__title strong {
    font-size: 18px;
    line-height: 22px;
  }
}
.info__subtitle {
  font-size: 38px;
  line-height: 44.73px;
  text-align: center;
  letter-spacing: 7%;
  margin: 40px 0;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .info__subtitle {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .info__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
  }
}
.info__subtitle strong {
  font-size: 38px;
  line-height: 44.73px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .info__subtitle strong {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .info__subtitle strong {
    font-size: 18px;
    line-height: 22px;
  }
}
.info__btn {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 4px 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
  font-family: "DrukTextWideCyr-Medium";
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .info__btn {
    padding: 10px 20px;
    max-width: 180px;
    font-size: 10px;
    line-height: 12px;
  }
}/*# sourceMappingURL=style.css.map */