* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  color: #fff;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1B1D26;
}

a,
button,
img,
input,
select,
textarea {
  display: block;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
input,
select {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.footer {
  background: #0B0C10;
  width: 100%;
}
.footer__wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 75px 50px 0;
  margin: 0 auto;
}
.footer__container {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
}
.footer__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  margin-bottom: 60px;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.footer__social_link {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 4px 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
}
.footer__social_link_icon {
  width: 26px;
}
.footer__social_link_txt {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.footer__or {
  margin: 30px 0;
  font-size: 16px;
  line-height: 18.83px;
  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;
}
.footer__qr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.footer__qr img {
  width: 100%;
}
.footer__contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 40px 0;
}
.footer__contact_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(270deg, #0B0C10 0%, #3C4155 50%, #0B0C10 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 14px 50px;
  width: 100%;
  color: #FBE78E;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
}
.footer__menu {
  border-top: 1px solid rgba(217, 217, 217, 0.1254901961);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
.footer__menu_link {
  font-size: 12px;
  line-height: 14.12px;
  letter-spacing: 7%;
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1090;
}
.navbar__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 50px;
}
@media (max-width: 768px) {
  .navbar__wrapper {
    padding: 35px 10px;
  }
}
@media (max-width: 480px) {
  .navbar__wrapper {
    padding: 25px 10px;
  }
}
.navbar__menu_btn {
  display: none;
}
@media (max-width: 768px) {
  .navbar__menu_btn {
    display: block;
    margin-left: auto;
  }
}
.navbar__menu_closeBtn {
  display: none;
}
@media (max-width: 768px) {
  .navbar__menu_closeBtn {
    display: block;
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 1091;
  }
}
@media (max-width: 768px) {
  .navbar__menu_wrapper {
    width: 100%;
    max-width: 240px;
    position: absolute;
    top: 0;
    right: -240px;
    transition: 0.3s;
  }
  .navbar__menu_wrapper.active {
    right: 0;
    transition: 0.3s;
  }
}
.navbar__menu_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .navbar__menu_list {
    background: #101116;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0 0 0 15px;
    padding: 110px 20px;
    z-index: 1090;
  }
}
.navbar__menu_list_link {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 7%;
}
@media (max-width: 768px) {
  .navbar__menu_list_link {
    max-width: 120px;
    text-align: right;
  }
}

.product {
  background: #0B0C10;
}
.product__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 50px 90px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
.product__title {
  grid-column: 1/3;
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.product__btns {
  display: grid;
  grid-gap: 20px;
}
.product__btns_btn {
  padding: 25px 20px;
  border-radius: 3px;
}
.product__btns_btn.active, .product__btns_btn:hover {
  background: url("../../images/borderProduct.svg") no-repeat center;
  background-size: contain;
}
.product__btns_btn_number {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 17.75px;
  letter-spacing: 7%;
  text-align: left;
}
.product__btns_btn_name {
  display: block;
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  color: #FBE78E;
  text-align: left;
}
.product__btns_btn:last-child .product__btns_btn_name {
  font-size: 14px;
  line-height: 17.75px;
}
.product__tabs_el {
  display: none;
  height: 100%;
  padding: 35px 60px;
  background: url("../../images/product.png") no-repeat center;
  background-size: contain;
}
.product__tabs_el.active {
  display: block;
}
.product__tabs_el_pr {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 7%;
  margin-bottom: 20px;
}
.product__tabs_el_list {
  list-style-type: disc;
  margin-bottom: 20px;
  padding-left: 20px;
}
.product__tabs_el_list li {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 7%;
}
.product__tabs_el_btn {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  padding: 4px 50px;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  color: #000;
  text-transform: uppercase;
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  margin-top: 40px;
}
.product__tabs_el_gridList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px 20px;
  margin-bottom: 20px;
}
.product__tabs_el_gridList li {
  display: flex;
  gap: 6px;
  align-items: center;
}
.product__tabs_el_gridList_icon {
  width: 14px;
}
.product__tabs_el_gridList_txt {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 7%;
}

.resident {
  background: #1B1D26;
  width: 100%;
}
.resident__wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 65px 50px 90px;
  margin: 0 auto;
}
.resident__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  margin-bottom: 45px;
}
.resident__slider {
  position: relative;
  padding: 0 60px;
}
.resident__slider_btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.resident__slider_btn.next {
  right: 0;
}
.resident__slider_btn.prev {
  left: 0;
}
.resident__slider_pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resident__slider_pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.resident__slider_pagination .swiper-pagination-bullet-active {
  background: #FBE78E;
}
.resident .swiper-slide {
  height: 100%;
}
.resident__item {
  background: url("../../images/resident.png") no-repeat center;
  background-size: 100% 100%;
  padding: 40px 20px;
  height: 615px;
}
.resident__item_img {
  margin: 0 auto 36px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.resident__item_name {
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}
.resident__item_pr {
  line-height: 18.83px;
  letter-spacing: 7%;
  text-align: center;
}
.resident__item_pr:not(:last-child) {
  margin-bottom: 20px;
}

.result {
  position: relative;
}
.result__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
}
.result__wrapper {
  position: relative;
  z-index: 1020;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 50px 70px;
}
.result__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  color: #050505;
  margin-bottom: 40px;
}
.result__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.result__item {
  background: url("../../images/result.png") no-repeat center;
  background-size: contain;
  height: 390px;
  padding: 40px 35px;
}
.result__item_header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.result__item_header_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.result__item_header_name {
  margin-bottom: 9px;
  display: block;
  line-height: 20.29px;
  letter-spacing: 7%;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.result__item_header_city {
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 7%;
}
.result__item_desc {
  height: calc(100% - 150px);
  padding-top: 20px;
}
.result__item_desc_list {
  font-size: 16px;
  line-height: 18.83px;
  letter-spacing: 7%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  list-style-type: disc;
}

.tarif {
  width: 100%;
}
.tarif__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 50px 95px;
}
.tarif__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  margin-bottom: 40px;
}
.tarif__elems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  height: 1200px;
}
.tarif__elems_item {
  background: url("../../images/tarifBg.png") no-repeat center;
  height: 100%;
  padding: 30px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarif__elems_item_icon {
  margin: 0 auto 16px;
  width: 46px;
}
.tarif__elems_item_title {
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 26px;
}
.tarif__elems_item_list {
  display: grid;
  grid-gap: 10px;
  padding-left: 20px;
  list-style-type: disc;
}
.tarif__elems_item_list li {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 7%;
}
.tarif__elems_item_priceName {
  font-size: 16px;
  line-height: 18.83px;
  letter-spacing: 7%;
  text-align: center;
}
.tarif__elems_item_price {
  margin: 20px 0 40px;
  font-size: 20px;
  line-height: 25.36px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FFF9DF 0%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tarif__elems_item_btn {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 4px 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 260px;
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
}

#adaptive {
  min-width: 1920px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (max-width: 1440px) {
  #adaptive {
    min-width: 1280px;
    max-width: 1280px;
  }
}
@media (max-width: 768px) {
  #adaptive {
    min-width: 640px;
    max-width: 640px;
  }
}
@media (max-width: 480px) {
  #adaptive {
    max-width: 320px;
    min-width: 320px;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    align-items: flex-start;
    padding-bottom: 170px;
  }
}
.header__img {
  width: 100%;
}
.header__wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding-top: 40px;
  }
}
@media (max-width: 480px) {
  .header__wrapper {
    padding-top: 15px;
  }
}
.header__logo {
  margin-bottom: 30px;
  max-width: 382px;
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 278px;
    margin-bottom: 88px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    max-width: 163px;
    margin-bottom: 64px;
    margin-right: auto;
    margin-left: 10px;
  }
}
.header__logo_img {
  width: 100%;
}
.header__title strong {
  display: block;
  font-weight: 500;
  text-align: center;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 52.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 7%;
}
.header__title strong:first-child {
  font-size: 50px;
  line-height: 63.4px;
}
@media (max-width: 768px) {
  .header__title strong:first-child {
    font-size: 30px;
    line-height: 38.04px;
    margin-bottom: 18px;
  }
}
@media (max-width: 480px) {
  .header__title strong:first-child {
    font-size: 16px;
    line-height: 20.29px;
    margin-bottom: 11px;
  }
}
.header__title strong:last-child {
  font-size: 115px;
  line-height: 145.82px;
}
@media (max-width: 768px) {
  .header__title strong:last-child {
    font-size: 62px;
    line-height: 78.62px;
  }
}
@media (max-width: 480px) {
  .header__title strong:last-child {
    font-size: 30px;
    line-height: 38.04px;
  }
}
.header__btns {
  display: flex;
  gap: 20px;
  margin-top: 200px;
}
@media (max-width: 768px) {
  .header__btns {
    margin-top: 187px;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .header__btns {
    margin-top: 130px;
  }
}
.header__btns_btn {
  width: 100%;
  min-width: 280px;
  max-width: 280px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 46px;
  color: #000;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  text-align: center;
  border-radius: 30px;
  white-space: nowrap;
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
}
@media (max-width: 480px) {
  .header__btns_btn {
    min-width: 0;
    max-width: 130px;
    padding: 10px;
    font-size: 8px;
    line-height: 10.14px;
    white-space: wrap;
  }
}

.about {
  margin-top: -30px;
  position: relative;
  z-index: 1080;
}
.about__img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1010;
}
.about__wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 75px 50px;
  margin: 0 auto;
  position: relative;
  z-index: 1020;
}
.about__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;
  max-width: 1080px;
  margin: 0 auto 20px;
}
.about__title strong {
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
}
.about__str {
  padding: 3px 20px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  margin: 0 auto 18px;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 7%;
}
.about__strong {
  padding: 3px 20px;
  border-radius: 5px;
  border: 2px solid;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  color: #000;
  margin: 0 auto 62px;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 7%;
  text-transform: uppercase;
}
.about__items {
  max-width: 880px;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 90px;
}
.about__items_el_icon {
  display: block;
  margin: 0 auto 15px;
  height: 45px;
}
.about__items_el_title {
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 7%;
  text-align: center;
}
.about__second {
  font-size: 38px;
  line-height: 34px;
  letter-spacing: 7%;
  text-align: center;
  margin-bottom: 46px;
}
.about__elems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
}
.about__elems_item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.about__elems_item_title {
  font-size: 50px;
  line-height: 63.4px;
  letter-spacing: 7%;
  color: #FBE88A;
}
.about__elems_item_icon {
  width: 46px;
}
.about__elems_item_pr {
  font-size: 21px;
  line-height: 24.72px;
  letter-spacing: 0%;
}
.about__elems_item_pr strong {
  font-weight: 700;
  font-size: 21px;
  line-height: 25.39px;
  letter-spacing: 0%;
  color: #FBE88A;
}
.about__secondPr {
  font-size: 21px;
  line-height: 24.72px;
  letter-spacing: 7%;
  text-align: center;
  margin: 40px 0;
}
.about__btn {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  padding: 4px 50px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  color: #000;
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  text-transform: uppercase;
}

.info {
  width: 100%;
  position: relative;
}
.info__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1010;
}
.info__wrapper {
  position: relative;
  z-index: 1020;
  width: 100%;
  max-width: 1280px;
  padding: 75px 50px 90px;
}
.info__title {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  text-transform: uppercase;
}
.info__title strong {
  font-size: 38px;
  line-height: 48.18px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info__subtitle {
  font-size: 38px;
  line-height: 44.73px;
  text-align: center;
  letter-spacing: 7%;
  margin: 40px 0;
  text-transform: uppercase;
}
.info__subtitle strong {
  font-size: 38px;
  line-height: 44.73px;
  letter-spacing: 7%;
  text-align: center;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info__btn {
  font-size: 12px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
  border-radius: 30px;
  background: linear-gradient(90deg, #FBE78E 0.5%, #FFF9DF 55.5%, #FBE78E 100%);
  box-shadow: 0px 0px 30px 0px rgba(255, 239, 192, 0.6);
  padding: 4px 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */