body {
    overflow-x: hidden;
}

#adaptive {
    min-width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;

    @media (max-width: 1440px) {
        min-width: 1280px;
        max-width: 1280px;
    }

    @media (max-width: 768px) {
        min-width: 640px;
        max-width: 640px;
    }

    @media (max-width: 480px) {
        max-width: 320px;
        min-width: 320px;
    }
}